@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>Admin Dashboard</h1>
<p>
   Welcome, @User.Identity.Name
</p>

@if (User.IsInRole("Admin"))
{
    <p>You have entered with the role of: <strong>Administrator</strong></p>
}
else if (User.IsInRole("Manager"))
{
    <p>You have entered with the role of: <strong>Manager</strong></p>
}
else if (User.IsInRole("Customer"))
{
    <p>You have entered with the role of: <strong>Customer</strong></p>
}
else
{
    <p>You have logged in with an unknown role.</p>
}
